<ng-container *ngIf="rooster$ | async as rooster">
  <ion-text color="primary">
    <h1 id="rooster-title">{{ rooster.title }}</h1>
    <ion-popover trigger="rooster-title" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">{{ rooster.title }}</ion-content>
      </ng-template>
    </ion-popover>
  </ion-text>

  <ng-container *ngIf="sheet$ | async as selected">
    <ng-container *ngIf="selected.type === 'section'">
      <ion-text color="primary">
        <h2 id="force-title">{{ selected.force }}</h2>
        <ion-popover trigger="force-title" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">{{ selected.force }}</ion-content>
          </ng-template>
        </ion-popover>
      </ion-text>
      <ion-text color="primary">
        <h3 id="category-title">{{ selected.category }}</h3>
        <ion-popover trigger="category-title" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">{{
              selected.category
            }}</ion-content>
          </ng-template>
        </ion-popover>
      </ion-text>

      <ng-container *ngIf="section$ | async as section">
        <app-rooster-section [section]="section"></app-rooster-section>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="selected.type === 'summary'">
      <app-rooster-summary
        *ngIf="summary$ | async as summary"
        [summary]="summary"></app-rooster-summary>
    </ng-container>
  </ng-container>
</ng-container>
