<ng-container *ngIf="rooster$ | async as rooster">
  <ion-text color="primary">
    <h1 id="rooster-title">
      <app-translatable [text]="rooster.title"></app-translatable>
    </h1>
  </ion-text>

  <ng-container *ngIf="sheet$ | async as selected">
    <ng-container *ngIf="selected.type === 'section'">
      <ion-text color="primary">
        <h2 id="force-title">
          <app-translatable [text]="selected.force"></app-translatable>
        </h2>
      </ion-text>
      <ion-text color="primary">
        <h3 id="category-title">
          <app-translatable [text]="selected.category"></app-translatable>
        </h3>
      </ion-text>

      <ng-container *ngIf="section$ | async as section">
        <rooster-section [section]="section"></rooster-section>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="selected.type === 'summary'">
      <rooster-summary
        *ngIf="summary$ | async as summary"
        [summary]="summary"></rooster-summary>
    </ng-container>
  </ng-container>
</ng-container>
