ion-footer {
  ion-toolbar {
    &:last-of-type {
      padding-bottom: 50px;
    }

    ion-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
