:host {
  display: block;
}

h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  padding: 10px;
}

.sub-sections {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow-x: auto;

  app-rooster-section {
    margin: 5px;
    background: var(--ion-color-light);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}
