<ng-container *ngIf="roster$ | async as roster">
  <ng-container *ngIf="detachment$ | async as detachment">
    <ng-container *ngIf="unit$ | async as unit">
      <ion-text color="primary">
        <h2><app-translatable [text]="detachment.title"></app-translatable></h2>
      </ion-text>
      <ion-text color="primary">
        <h3><app-translatable [text]="unit.title"></app-translatable></h3>
      </ion-text>

      <ng-container *ngFor="let model of unit.models">
        <ion-text color="primary">
          <h4>
            {{ model.amount }} x
            <app-translatable [text]="model.title"></app-translatable>
          </h4>
        </ion-text>

        <!-- PROFILES -->
        <table class="aligned">
          <tr>
            <th *ngIf="model.profiles.length > 1"></th>
            <th><app-translatable [text]="'M'"></app-translatable></th>
            <th><app-translatable [text]="'WS'"></app-translatable></th>
            <th><app-translatable [text]="'BS'"></app-translatable></th>
            <th><app-translatable [text]="'S'"></app-translatable></th>
            <th><app-translatable [text]="'T'"></app-translatable></th>
            <th><app-translatable [text]="'W'"></app-translatable></th>
            <th><app-translatable [text]="'A'"></app-translatable></th>
            <th><app-translatable [text]="'Ld'"></app-translatable></th>
            <th><app-translatable [text]="'Sv'"></app-translatable></th>
          </tr>
          <tr *ngFor="let profile of model.profiles">
            <td *ngIf="model.profiles.length > 1">
              <app-translatable [text]="profile.title"></app-translatable>
            </td>
            <td class="centered">
              {{ profile.movement }}
            </td>
            <td class="centered">
              {{ profile.weaponSkill }}
            </td>
            <td class="centered">
              {{ profile.ballisticSkill }}
            </td>
            <td class="centered">
              {{ profile.strength }}
            </td>
            <td class="centered">
              {{ profile.toughness }}
            </td>
            <td class="centered">
              {{ profile.wounds }}
            </td>
            <td class="centered">
              {{ profile.attacks }}
            </td>
            <td class="centered">
              {{ profile.leadership }}
            </td>
            <td>{{ profile.save }}</td>
          </tr>
        </table>

        <!-- WEAPONS -->
        <div class="scroller">
          <table class="aligned">
            <tr>
              <th colspan="2"></th>
              <th><app-translatable [text]="'Range'"></app-translatable></th>
              <th><app-translatable [text]="'Type'"></app-translatable></th>
              <th><app-translatable [text]="'S'"></app-translatable></th>
              <th><app-translatable [text]="'AP'"></app-translatable></th>
              <th><app-translatable [text]="'D'"></app-translatable></th>
              <th>
                <app-translatable [text]="'Abilities'"></app-translatable>
              </th>
            </tr>
            <ng-container *ngFor="let weapon of model.weapons">
              <tr
                *ngIf="
                  weapon.abilities.length === 0 && weapon.profiles.length === 1;
                  else multiProfileWeapon
                ">
                <td>
                  {{ weapon.amount }}
                </td>
                <td>
                  <app-translatable [text]="weapon.title"></app-translatable>
                </td>
                <td class="centered">{{ weapon.profiles[0].range }}</td>
                <td class="centered">
                  <app-translatable
                    [text]="weapon.profiles[0].type"></app-translatable>
                </td>
                <td class="centered">{{ weapon.profiles[0].strength }}</td>
                <td class="centered">
                  {{ weapon.profiles[0].armourPenetration }}
                </td>
                <td class="centered">{{ weapon.profiles[0].damage }}</td>
                <td class="wrap long">
                  <app-translatable
                    [text]="weapon.profiles[0].abilities"></app-translatable>
                </td>
              </tr>
              <ng-template #multiProfileWeapon>
                <tr>
                  <td>
                    {{ weapon.amount }}
                  </td>
                  <td>
                    {{ weapon.title }}
                  </td>
                  <td colspan="6" class="wrap">
                    <app-translatable
                      [text]="weapon.abilities.join('\n')"></app-translatable>
                  </td>
                </tr>
                <tr *ngFor="let profile of weapon.profiles" class="sub-profile">
                  <td></td>
                  <td>
                    <app-translatable [text]="profile.title"></app-translatable>
                  </td>
                  <td class="centered">{{ profile.range }}</td>
                  <td class="centered">
                    <app-translatable [text]="profile.type"></app-translatable>
                  </td>
                  <td class="centered">{{ profile.strength }}</td>
                  <td class="centered">
                    {{ profile.armourPenetration }}
                  </td>
                  <td class="centered">{{ profile.damage }}</td>
                  <td class="wrap long">
                    <app-translatable
                      [text]="profile.abilities"></app-translatable>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </table>
        </div>

        <!-- RULES -->
        <table>
          <tr>
            <th><app-translatable [text]="'Rule'"></app-translatable></th>
            <th>
              <app-translatable [text]="'Description'"></app-translatable>
            </th>
          </tr>
          <tr *ngFor="let ability of model.abilities">
            <td>
              <app-translatable [text]="ability.title"></app-translatable>
            </td>
            <td class="wrap long">
              <app-translatable [text]="ability.description"></app-translatable>
            </td>
          </tr>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
