<ng-container *ngIf="roster$ | async as roster">
  <ng-container *ngIf="detachment$ | async as detachment">
    <ng-container *ngIf="unit$ | async as unit">
      <ion-text color="primary">
        <h2><app-translatable [text]="detachment.title"></app-translatable></h2>
      </ion-text>
      <ion-text color="primary">
        <h3><app-translatable [text]="unit.title"></app-translatable></h3>
      </ion-text>

      <ng-container *ngFor="let model of unit.models">
        <ion-text color="primary">
          <h4>
            {{ model.amount }} x
            <app-translatable [text]="model.title"></app-translatable>
          </h4>
        </ion-text>

        <!-- PROFILES -->
        <div class="scroller">
          <table class="aligned">
            <tr>
              <th *ngIf="model.profiles.length > 1"></th>
              <th><app-translatable [text]="'M'"></app-translatable></th>
              <th><app-translatable [text]="'WS'"></app-translatable></th>
              <th><app-translatable [text]="'BS'"></app-translatable></th>
              <th><app-translatable [text]="'S'"></app-translatable></th>
              <th><app-translatable [text]="'T'"></app-translatable></th>
              <th><app-translatable [text]="'W'"></app-translatable></th>
              <th><app-translatable [text]="'A'"></app-translatable></th>
              <th><app-translatable [text]="'Ld'"></app-translatable></th>
              <th><app-translatable [text]="'Sv'"></app-translatable></th>
            </tr>
            <tr *ngFor="let profile of model.profiles">
              <td *ngIf="model.profiles.length > 1">
                <app-translatable [text]="profile.title"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable [text]="profile.movement"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable
                  [text]="profile.weaponSkill"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable
                  [text]="profile.ballisticSkill"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable [text]="profile.strength"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable [text]="profile.toughness"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable [text]="profile.wounds"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable [text]="profile.attacks"></app-translatable>
              </td>
              <td class="centered">
                <app-translatable
                  [text]="profile.leadership"></app-translatable>
              </td>
              <td>
                <app-translatable [text]="profile.save"></app-translatable>
              </td>
            </tr>
          </table>
        </div>

        <!-- WEAPONS -->
        <div class="scroller">
          <table class="aligned">
            <tr>
              <th colspan="2"></th>
              <th><app-translatable [text]="'Range'"></app-translatable></th>
              <th><app-translatable [text]="'Type'"></app-translatable></th>
              <th><app-translatable [text]="'S'"></app-translatable></th>
              <th><app-translatable [text]="'AP'"></app-translatable></th>
              <th><app-translatable [text]="'D'"></app-translatable></th>
              <th>
                <app-translatable [text]="'Abilities'"></app-translatable>
              </th>
            </tr>
            <ng-container *ngFor="let weapon of model.weapons">
              <tr
                *ngIf="
                  weapon.abilities.length === 0 && weapon.profiles.length === 1;
                  else multiProfileWeapon
                ">
                <td>
                  {{ weapon.amount }}
                </td>
                <td class="wrap">
                  <app-translatable [text]="weapon.title"></app-translatable>
                </td>
                <td class="centered">
                  <app-translatable
                    [text]="weapon.profiles[0].range"></app-translatable>
                </td>
                <td class="centered">
                  <app-translatable
                    [text]="weapon.profiles[0].type"></app-translatable>
                </td>
                <td class="centered">
                  <app-translatable
                    [text]="weapon.profiles[0].strength"></app-translatable>
                </td>
                <td class="centered">
                  <app-translatable
                    [text]="
                      weapon.profiles[0].armourPenetration
                    "></app-translatable>
                </td>
                <td class="centered">
                  <app-translatable
                    [text]="weapon.profiles[0].damage"></app-translatable>
                </td>
                <td class="wrap">
                  <app-translatable
                    [text]="weapon.profiles[0].abilities"></app-translatable>
                </td>
              </tr>
              <ng-template #multiProfileWeapon>
                <tr>
                  <td>
                    {{ weapon.amount }}
                  </td>
                  <td>
                    <app-translatable [text]="weapon.title"></app-translatable>
                  </td>
                  <td colspan="6" class="wrap">
                    <app-translatable
                      [text]="weapon.abilities.join('\n')"></app-translatable>
                  </td>
                </tr>
                <tr *ngFor="let profile of weapon.profiles" class="sub-profile">
                  <td></td>
                  <td>
                    <app-translatable [text]="profile.title"></app-translatable>
                  </td>
                  <td class="centered">
                    <app-translatable [text]="profile.range"></app-translatable>
                  </td>
                  <td class="centered">
                    <app-translatable [text]="profile.type"></app-translatable>
                  </td>
                  <td class="centered">
                    <app-translatable
                      [text]="profile.strength"></app-translatable>
                  </td>
                  <td class="centered">
                    <app-translatable
                      [text]="profile.armourPenetration"></app-translatable>
                  </td>
                  <td class="centered">
                    <app-translatable
                      [text]="profile.damage"></app-translatable>
                  </td>
                  <td class="wrap long">
                    <app-translatable
                      [text]="profile.abilities"></app-translatable>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </table>
        </div>

        <!-- PSYCHIC POWERS -->
        <div class="scroller" *ngIf="model.psychicPowers.length > 0">
          <table class="aligned">
            <tr>
              <th></th>
              <th><app-translatable [text]="'Range'"></app-translatable></th>
              <th>
                <app-translatable [text]="'Warp Charge'"></app-translatable>
              </th>
              <th>
                <app-translatable [text]="'Description'"></app-translatable>
              </th>
            </tr>
            <ng-container *ngFor="let power of model.psychicPowers">
              <tr *ngIf="power.profiles.length === 1; else multiProfilePower">
                <td class="wrap">
                  <app-translatable [text]="power.title"></app-translatable>
                </td>
                <td>
                  <app-translatable
                    [text]="power.profiles[0].range"></app-translatable>
                </td>
                <td>
                  <app-translatable
                    [text]="power.profiles[0].warpCharge"></app-translatable>
                </td>
                <td class="wrap long">
                  <app-translatable
                    [text]="power.profiles[0].description"></app-translatable>
                </td>
              </tr>
              <ng-template #multiProfilePower>
                <tr>
                  <td colspan="4">
                    <app-translatable [text]="power.title"></app-translatable>
                  </td>
                </tr>
                <tr *ngFor="let profile of power.profiles" class="sub-profile">
                  <td></td>
                  <td>
                    <app-translatable [text]="profile.title"></app-translatable>
                  </td>
                  <td>
                    <app-translatable [text]="profile.range"></app-translatable>
                  </td>
                  <td>
                    <app-translatable
                      [text]="profile.warpCharge"></app-translatable>
                  </td>
                  <td>
                    <app-translatable
                      [text]="profile.description"></app-translatable>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
          </table>
        </div>
      </ng-container>

      <!-- UNIT RULES -->
      <ion-text color="primary">
        <h3 class="separated">
          <app-translatable [text]="'Rules'"></app-translatable>
        </h3>
      </ion-text>
      <div class="scroller">
        <table>
          <tr *ngFor="let rule of unit.rules">
            <td class="wrap">
              <app-translatable [text]="rule.title"></app-translatable>
            </td>
            <td class="wrap long">
              <app-translatable [text]="rule.description"></app-translatable>
            </td>
          </tr>
        </table>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
