<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button id="list-button">
    <ion-icon name="list"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  trigger="list-button"
  #modal>
  <ng-template>
    <ion-header *ngIf="rooster$ | async as rooster">
      <ion-toolbar>
        <ion-title
          ><app-translatable
            [text]="rooster.title"
            [translateOnClick]="false"></app-translatable
        ></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="rooster$ | async as rooster" class="ion-padding">
      <div class="force" *ngFor="let force of rooster.forces">
        <ion-text color="primary">
          <h2>
            <app-translatable
              [text]="force.name"
              [translateOnClick]="false"></app-translatable>
          </h2>
        </ion-text>
        <div class="category" *ngFor="let category of force.categories">
          <ion-text color="primary">
            <h3>
              <app-translatable
                [text]="category.name"
                [translateOnClick]="false"></app-translatable>
            </h3>
          </ion-text>
          <div
            class="section"
            *ngFor="let section of category.sections"
            (click)="
              showSection(force.name, category.name, section.name);
              modal.dismiss()
            ">
            <ion-text color="primary">
              <h4>
                <app-translatable
                  [text]="section.name"
                  [translateOnClick]="false"></app-translatable>
              </h4>
            </ion-text>
          </div>
        </div>
      </div>

      <div class="summary" *ngFor="let summary of rooster.summaries">
        <ion-text
          color="primary"
          (click)="modal.dismiss(); showSummary(summary.name)">
          <h2>
            <app-translatable
              [text]="summary.name"
              [translateOnClick]="false"></app-translatable>
          </h2>
        </ion-text>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
