<ion-text id="section-title" color="primary">
  <h4>{{ section.name }}</h4>
  <ion-popover trigger="section-title" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">{{ section.name }}</ion-content>
    </ng-template>
  </ion-popover>
</ion-text>

<div class="sub-sections" *ngIf="section.sections.length > 0">
  <rooster-section
    *ngFor="let item of section.sections"
    [section]="item"></rooster-section>
</div>

<rooster-text-item
  *ngFor="let item of section.textItems"
  [textItem]="item"></rooster-text-item>

<rooster-table
  *ngFor="let table of section.tables"
  [table]="table"></rooster-table>
