:host {
  display: block;
  flex-basis: 100%;
}

h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  padding: 10px;
}

:host-context(rooster-section) {
  :host {
    margin: 5px;
    background: var(--ion-color-light);
  }
  h4 {
    white-space: normal;
  }
}

.sub-sections {
  display: flex;
  overflow-x: auto;
}
