<ng-container *ngIf="translation$ | async as translation">
  <span
    *ngIf="(editable$ | async) === false || (editable$ | async) === false"
    [innerHTML]="listify(translation)"></span>
  <span
    *ngIf="(editable$ | async) === true && (editable$ | async) === true"
    [innerHTML]="listify(translation)"
    (click)="translateOnClick && popover.present()"></span>
  <ion-modal #popover>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="popover.dismiss()">abbrechen</ion-button>
          </ion-buttons>
          <ion-title>Übersetzen</ion-title>
          <ion-buttons slot="end">
            <ion-button
              (click)="translate(original, ta.value); popover.dismiss()"
              [strong]="true"
              >OK</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="none"> {{ original }}</ion-item>
        <ion-item lines="none">
          <ion-textarea
            #ta
            [autoGrow]="true"
            [value]="translation"></ion-textarea>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ng-container>
