:host {
  display: inline-block;
  // margin-right: 5px;
}

span {
  white-space: pre-wrap;
}

ion-item {
  white-space: pre-wrap;
}

ion-textarea {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--ion-color-medium);
  color: 1px solid var(--ion-color-dark);
  font-family: monospace;
}
