@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400&family=Oswald:wght@700&display=swap');

ion-app {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: var(--theme-font);
  }
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
