<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button id="list-button">
    <ion-icon name="list"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal
  *ngIf="view$ | async as view"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  trigger="list-button"
  #modal>
  <ng-template>
    <ion-header *ngIf="roster$ | async as roster">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button
            (click)="setView('list')"
            [color]="view === 'list' ? 'primary' : 'medium'">
            <ion-icon name="list-outline"></ion-icon>
          </ion-button>
          <ion-button
            (click)="setView('grid')"
            [color]="view === 'grid' ? 'primary' : 'medium'">
            <ion-icon name="grid-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title
          ><app-translatable
            [text]="roster.title"
            [translateOnClick]="false"></app-translatable
        ></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content *ngIf="roster$ | async as roster" class="ion-padding">
      <div class="detachment" *ngFor="let detachment of roster.detachments">
        <ion-text color="primary">
          <h2>
            <app-translatable
              [text]="detachment.title"
              [translateOnClick]="false"></app-translatable>
          </h2>
        </ion-text>
        <div
          class="units"
          [ngClass]="{ list: view === 'list', grid: view === 'grid' }">
          <div
            class="unit"
            *ngFor="let unit of detachment.units"
            (click)="
              showSection(roster.title, detachment.title, unit.title);
              modal.dismiss()
            ">
            <ion-text color="primary">
              <app-unit-image
                *ngIf="view === 'grid'"
                [unitName]="unit.title"></app-unit-image>
              <h4>
                <app-translatable
                  [text]="unit.title"
                  [translateOnClick]="false"></app-translatable>
              </h4>
            </ion-text>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
